@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

#bubbleWrap {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
/* prevent text selection on element */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
/* Bubble animation styling */

.bubble {
  position: fixed;
  opacity: 0;
  animation: floatBubble linear infinite;
}

@keyframes moveBubble {
  0% {
    transform: translate(0%, 0%);
  }
  5% {
    transform: translate(90%, 10%);
  }
  10% {
    transform: translate(10%, 20%);
  }
  15% {
    transform: translate(80%, 30%);
  }
  20% {
    transform: translate(20%, 40%);
  }
  25% {
    transform: translate(70%, 50%);
  }
  30% {
    transform: translate(30%, 60%);
  }
  35% {
    transform: translate(90%, 70%);
  }
  40% {
    transform: translate(20%, 80%);
  }
  45% {
    transform: translate(80%, 90%);
  }
  50% {
    transform: translate(0%, 100%);
  }
  55% {
    transform: translate(90%, 90%);
  }
  60% {
    transform: translate(10%, 80%);
  }
  65% {
    transform: translate(80%, 70%);
  }
  70% {
    transform: translate(20%, 60%);
  }
  75% {
    transform: translate(70%, 50%);
  }
  80% {
    transform: translate(30%, 40%);
  }
  85% {
    transform: translate(90%, 30%);
  }
  90% {
    transform: translate(20%, 20%);
  }
  95% {
    transform: translate(80%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes floatBubble {
  0% {
    transform: translateY(150vh) translateX(-50%) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150vh) translateX(-50%) rotate(360deg);
    opacity: 0;
  }
}

.bubble:nth-child(1) {
  width: 15%;
  bottom: 0;
  left: 5%;
  animation-duration: 10s;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  width: 20%;
  bottom: 0;
  left: 20%;
  animation-duration: 15s;
  animation-delay: 3s;
}

.bubble:nth-child(3) {
  width: 15%;
  bottom: 0;
  left: 35%;
  animation-duration: 12s;
  animation-delay: 6s;
}

.bubble:nth-child(4) {
  width: 22%;
  bottom: 0;
  left: 50%;
  animation-duration: 18s;
  animation-delay: 2s;
}

.bubble:nth-child(5) {
  width: 18%;
  bottom: 0;
  left: 65%;
  animation-duration: 13s;
  animation-delay: 5s;
}

.bubble:nth-child(6) {
  width: 15%;
  bottom: 0;
  left: 80%;
  animation-duration: 20s;
  animation-delay: 4s;
}

.bubble:nth-child(7) {
  width: 10%;
  bottom: 0;
  left: 30%;
  animation-duration: 14s;
  animation-delay: 6s;
}

.bubble:nth-child(8) {
  width: 18%;
  bottom: 0;
  left: 70%;
  animation-duration: 20s;
  animation-delay: 8s;
}

.bubble:nth-child(9) {
  width: 25%;
  bottom: 0;
  left: 15%;
  animation-duration: 18s;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bubble:nth-child(10) {
  width: 12%;
  bottom: 0;
  left: 85%;
  animation-duration: 14s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

body {
  background: radial-gradient(circle, #2c003e, #4b0082, #800080, #2c003e);
  background-size: 100% 100%;
  animation: gradientAnimation 10s ease infinite;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

/* Headings */
h1 {
  position: fixed;
  opacity: 0.9;
  font-size: calc(15px + 4vw); /* Adjust the calculation as needed */
  max-width: 100%;
  text-align: center; /* Center the text horizontally if needed */
  margin: 0; /* Remove default margin */
  line-height: 1.1; /* Adjust line height for better readability */
  color: #ffffff; /* Light color to contrast against busy background */
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 1.5px;
  -webkit-text-stroke: 1px black; /* Stroke for better contrast */
  -moz-text-stroke: 1px black;
 -webkit-text-stroke: 1px black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    /* Basic shadow */ 0 2px 2px rgba(0, 0, 0, 0.2),
    0 3px 3px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.2),
    0 5px 5px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2),
    0 7px 7px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.2),
    0 9px 9px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2); /* Multiple layers for 3D effect */
}

/* Define the animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-size: 100% 100%;
    background-position: center;
  }
  50% {
    background-size: 200% 200%;
    background-position: center;
  }
  100% {
    background-size: 100% 100%;
    background-position: center;
  }
}

audio {
  margin-top: 30vh;
  opacity: 0.5;
  position: absolute;
  z-index: 999;
   transition: opacity 0.5s ease-in-out;
}
audio:hover {

  opacity: 0.8;

}
